.wow {
    opacity: 0;
}

.mobile {
    width: 100%;
}

.mobile-inner {
    margin-right: auto;
    margin-left: auto;
    /* background-color: ; */
    position: relative;
}

.mobile-inner img {
    
}

.mobile-inner p {
    color: #676767;
    line-height: 25px;
    font-size: 16px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0px;
}

.mobile-inner-header {
    width: 100%;
    height: 50px;
    position: relative;
    top: 0px;
    z-index: 666;
    left: 0px;
}

.mobile-inner-header-icon {
    color: #ffffff;
    height: 50px;
    font-size: 25px;
    text-align: center;
    float: right;
    width: 50px;
    position: relative;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.mobile-inner-header-icon:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

.mobile-inner-header-icon span {
    position: absolute;
    left: calc((100% - 25px) / 2);
    top: calc((100% - 1px) / 2);
    width: 25px;
    height: 1px;
    background-color: #fff;
}

.mobile-inner-header-icon span:nth-child(1) {
    transform: translateY(4px) rotate(0deg);
}

.mobile-inner-header-icon span:nth-child(2) {
    transform: translateY(-4px) rotate(0deg);
}

.mobile-inner-header-icon-click span:nth-child(1) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: clickfirst;
}

.mobile-inner-header-icon-click span:nth-child(2) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: clicksecond;
}

@keyframes clickfirst {
    0% {
        transform: translateY(4px) rotate(0deg);
    }

    100% {
        transform: translateY(0) rotate(45deg);
    }
}

@keyframes clicksecond {
    0% {
        transform: translateY(-4px) rotate(0deg);
    }

    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

.mobile-inner-header-icon-out span:nth-child(1) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: outfirst;
}

.mobile-inner-header-icon-out span:nth-child(2) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: outsecond;
}

@keyframes outfirst {
    0% {
        transform: translateY(0) rotate(-45deg);
    }

    100% {
        transform: translateY(-4px) rotate(0deg);
    }
}

@keyframes outsecond {
    0% {
        transform: translateY(0) rotate(45deg);
    }

    100% {
        transform: translateY(4px) rotate(0deg);
    }
}

.mobile-inner-nav {
    overflow: auto;
    height: 100vh;
    padding-top: 50px;
}

.mobile-inner-nav {
    background: linear-gradient(270deg,#0866b1c9,#076cc3);
    width: 100%;
    position: absolute;
    top: 0;
    padding-bottom: 0%;
    display: none;
    z-index: 444;
}

.mobile-inner-nav a {
    border-bottom: solid 1px rgba(255,255,255,0.3);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: #fff;
    transition: all 0.5s;
}

.mobile-inner-nav dl {
    display: none;
}

.mobile-inner-nav dl dd {
    line-height: 33px;
    text-decoration: none;
    text-indent: 3em;
    font-size: 16px;
    color: #FFFFFF;
    border-bottom: solid 1px rgba(255,255,255,0.3);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: 300;
    font-size: 14px;
}

.mobile-inner-nav li {
    border-bottom: solid 1px rgba(255,255,255,0.3);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 53px;
    text-indent: 20px;
}

.mobile-inner-nav h2.h2tit {
    line-height: 50px;
    text-decoration: none;
    text-indent: 2em;
    font-size: 16px;
    color: #FFFFFF;
    /* border-bottom:solid 1px rgba(255,255,255,0.3);*/
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: 300;
}

.mobile-inner-nav h2.h2tit a {
    color: #FFFFFF;
}

.mobile-inner-nav a {
    border-bottom: none;
}

.mobile-inner-nav li {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: returnToNormal;
    animation-name: returnToNormal;
}

@-webkit-keyframes resize {
    from,60%,75%,90%,to {
        -webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(5,5);
        transform: scale(5,5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@keyframes resize {
    from,60%,75%,90%,to {
        -webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(5,5);
        transform: scale(5,5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-webkit-keyframes returnToNormal {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes returnToNormal {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.mobile-inner-nav li:last-child h2.h2tit {
    border-bottom: none;
}

.mobile-inner-nav li .h3tit {
    height: 50px;
    position: relative;
    background: url(../images/51_icon_search@2x.png) no-repeat 30px center;
    background-size: 17px;
}

.mobile-inner-nav li .words {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    text-indent: 60px;
    font-size: 15px;
    color: #fff;
    background: url(../images/search2.png) no-repeat 30px center;
    background-size: 20px;
}

.mobile-inner-nav li:last-child {
    border-bottom: none;
}

.mobile-inner-nav li form {
    display: block;
    width: 100%;
    height: 100%;
}


.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.fadeInUp {
    animation-duration: 1.76s;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,40px,0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

* {
    font-family: 'Consolas';
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr,span {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: calc(14/1920*100vw);
}

html,body {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

body {
    font-family: "Microsoft YaHei" ! important;
    color: #000000;
    background: #fff;
    margin: 0 auto;
    padding: 0px;
}

body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


input[type="button"],input[type="submit"],input[type="reset"],input[type="text"] {
    -webkit-appearance: none;
}

input[type="button"],input[type="submit"],input[type="reset"] {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

input {
    -webkit-appearance: none!important;
    border-radius: 0;
}

button {
    cursor: pointer;
}

textarea {
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: #235aa7;
    outline: none;
}

/* a:active {
    star: expression(this.onFocus=this.blur());
} */

img {
    border: 0px;
    vertical-align: middle;
}

li {
    list-style: none;
}

* {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999;
}

.loadingfa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 29px;
    color: #1f8adf;
    position: absolute;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    top: 50%;
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: none;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    -webkit-overflow-scrolling: touch;
    background: #000;
    color: #fff;
    line-height: 1;
}

l {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg)
    }

    to {
        -ms-transform: rotate(360deg)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg)
    }

    to {
        -o-transform: rotate(360deg)
    }
}

.xuanzhuan {
    animation: 2s linear 0s normal forwards infinite rotate;
    -webkit-animation: 2s linear 0s normal forwards infinite rotate;
    -moz-animation: 2s linear 0s normal forwards infinite rotate;
    -o-animation: 2s linear 0s normal forwards infinite rotate;
}

.xuanzhuan img {
    display: block;
    width: 100%;
}

.pc {
    display: block;
}

.wap {
    display: none;
}

.clearflex:after {
    content: "";
    display: table;
    clear: both;
}

.moveAni {
    animation: move .8s infinite;
    -moz-animation: move .8s infinite;
    -webkit-animation: move .8s infinite;
    -o-animation: move .8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
    -webkit-animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
}

.tadaAni {
    animation: tada 2s infinite;
}

.pulseAni {
    animation: pulse 1s infinite;
}

.bounceInAni {
    animation: bounceIn 2s infinite;
}

.flashInAni {
    animation: flash 2s infinite;
}

.swingAni {
    animation: swing 2s infinite;
    transform-origin: right top;
}

.rubberBandAni {
    animation: rubberBand 1s infinite;
}

.bounceAni {
    animation: bounce 1s infinite;
}

.tdAni {
    animation: td .4s infinite;
    -moz-animation: td .4s infinite;
    -webkit-animation: td .4s infinite;
    -o-animation: td .4s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
    -webkit-animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
}

.heartbeatAni {
    animation: heartbeat 1.4s infinite;
    -moz-animation: heartbeat 1.4s infinite;
    -webkit-animation: heartbeat 1.4s infinite;
    -o-animation: heartbeat 1.4s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
    -webkit-animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
}

.shing {
    animation: shing 1s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

@keyframes shing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .6;
    }
}

@keyframes move2 {
    0% {
        transform: translate(0%,0px);
    }

    100% {
        transform: translate(0%,10px);
    }
}

.moveAni2 {
    animation: move2 1s infinite;
}

.moveAni {
    animation: move .8s infinite;
    -moz-animation: move .8s infinite;
    -webkit-animation: move .8s infinite;
    -o-animation: move .8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
    -webkit-animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
}

@keyframes move {
    from {
        -o-transform: translate(0%,0%);
        -webkit-transform: translate(0%,0%);
        -moz-transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }

    to {
        -o-transform: translate(0%,30px);
        -webkit-transform: translate(0%,30px);
        -moz-transform: translate(0%,30px);
        -ms-transform: translate(0%,30px);
        transform: translate(0%,30px);
    }
}

@keyframes td {
    from {
        -o-transform: translate(0%,0%);
        -webkit-transform: translate(0%,0%);
        -moz-transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }

    to {
        -o-transform: translate(0%,20px);
        -webkit-transform: translate(0%,20px);
        -moz-transform: translate(0%,20px);
        -ms-transform: translate(0%,20px);
        transform: translate(0%,20px);
    }
}

@keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes moveAni2 {
    0% {
        transform: translate(0%,0px);
    }

    100% {
        transform: translate(100vw,0px);
    }
}

.moveAni2 {
    animation: moveAni2 5.5s linear infinite;
}

@keyframes scrollAni1 {
    0% {
        transform: translate(0%,0px) rotate(0);
    }

    100% {
        transform: translate(-100%,0px) rotate(-360deg);
    }
}

.scrollAni1 {
    animation: scrollAni1 1.8s infinite;
    -moz-animation: scrollAni1 1.8s infinite;
    -webkit-animation: scrollAni1 1.8s infinite;
    -o-animation: scrollAni1 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

@keyframes scrollAni2 {
    0% {
        transform: translate(30%,0px) rotate(0);
    }

    100% {
        transform: translate(0%,0px);
    }
}

.scrollAni2 {
    animation: scrollAni2 1.8s infinite;
    -moz-animation: scrollAni2 1.8s infinite;
    -webkit-animation: scrollAni2 1.8s infinite;
    -o-animation: scrollAni2 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes scrollAni3 {
    0% {
        transform: translate(0%,-20px);
    }

    100% {
        transform: translate(0%,0%);
    }
}

.scrollAni3 {
    animation: scrollAni3 1.8s infinite;
    -moz-animation: scrollAni3 1.8s infinite;
    -webkit-animation: scrollAni3 1.8s infinite;
    -o-animation: scrollAni3 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes scrollAni4 {
    0% {
        transform: translate(0%,10px);
    }

    100% {
        transform: translate(0%,0%);
    }
}

.scrollAni4 {
    animation: scrollAni4 1.8s infinite;
    -moz-animation: scrollAni4 1.8s infinite;
    -webkit-animation: scrollAni4 1.8s infinite;
    -o-animation: scrollAni4 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes scrollAni5 {
    0% {
        transform: none;
    }

    100% {
        transform: scale(1.35,1.35);
    }
}

.scrollAni5 {
    animation: scrollAni5 1.8s infinite;
    -moz-animation: scrollAni5 1.8s infinite;
    -webkit-animation: scrollAni5 1.8s infinite;
    -o-animation: scrollAni5 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes scrollAni6 {
    0% {
        transform: scale(1.05,1.05);
    }

    100% {
        transform: none;
    }
}

.scrollAni6 {
    animation: scrollAni6 1.8s infinite;
    -moz-animation: scrollAni6 1.8s infinite;
    -webkit-animation: scrollAni6 1.8s infinite;
    -o-animation: scrollAni6 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes bubbleMover3 {
    0% {
        -webkit-transform: translateY(0px) translateX(0) rotate(0);
        transform: translateY(0px) translateX(0) rotate(0);
    }

    30% {
        transform: translateY(5px) translateX(4px) rotate(9deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }

    50% {
        transform: translateY(-3px) translateX(1px) rotate(-6deg);
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
    }

    80% {
        transform: translateY(-1px) translateX(-5px) rotate(-2deg);
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }

    100% {
        -webkit-transform: translateY(0px) translateX(0) rotate(0);
        transform: translateY(0px) translateX(0) rotate(0);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
}

@keyframes bubbleMover2 {
    0% {
        -webkit-transform: translateY(0px) translateX(0) rotate(0);
        transform: translateY(0px) translateX(0) rotate(0);
    }

    30% {
        transform: translateY(5px) translateX(4px) rotate(5deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }

    50% {
        transform: translateY(-4px) translateX(2px) rotate(-3deg);
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
    }

    80% {
        transform: translateY(-3px) translateX(-3px) rotate(-3deg);
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }

    100% {
        -webkit-transform: translateY(0px) translateX(0) rotate(0);
        transform: translateY(0px) translateX(0) rotate(0);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
}

@keyframes bubbleMover {
    0% {
        transform: translateY(0px) translateX(0) rotate(0);
    }

    30% {
        transform: translateY(3px) translateX(5px) rotate(5deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }

    50% {
        transform: translateY(5px) translateX(10px) rotate(10deg);
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
    }

    80% {
        transform: translateY(3px) translateX(5px) rotate(4deg);
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }

    100% {
        transform: translateY(0px) translateX(0) rotate(0);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
}

@keyframes rotateAni {
    0% {
        transform: none;
    }

    100% {
        transform: rotateY(180deg);
    }
}

.rotateAni {
    -webkit-animation: rotateAni linear infinite 2s;
    -moz-animation: rotateAni linear infinite 2s;
    -o-animation: rotateAni linear infinite 2s;
    animation: rotateAni linear infinite 2s;
}

.pfAni1 {
    -webkit-animation: bubbleMover linear infinite 5s;
    -moz-animation: bubbleMover linear infinite 5s;
    -o-animation: bubbleMover linear infinite 5s;
    animation: bubbleMover linear infinite 5s;
}

.pfAni2 {
    -webkit-animation: bubbleMover2 linear infinite 5s;
    -moz-animation: bubbleMover2 linear infinite 5s;
    -o-animation: bubbleMover2 linear infinite 5s;
    animation: bubbleMover2 linear infinite 5s;
}

.pfAni3 {
    -webkit-animation: bubbleMover3 linear infinite 5s;
    -moz-animation: bubbleMover3 linear infinite 5s;
    -o-animation: bubbleMover3 linear infinite 5s;
    animation: bubbleMover3 linear infinite 5s;
}

@keyframes scalc {
    0% {
        -webkit-transform: scale(2.05,2.05);
        -o-transform: scale(2.05,2.05);
        -moz-transform: scale(2.05,2.05);
        -ms-transform: scale(2.05,2.05);
        transform: scale(2.05,2.05);
    }

    100% {
        -webkit-transform: none;
        -o-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.sclani {
    animation: scalc 7s forwards;
    animation-timing-function: ease-out;
}

@keyframes scalc2 {
    0% {
        transform: scale(1.2,1.2);
    }

    100% {
        -webkit-transform: none;
        -o-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.sclani2 {
    animation: scalc2 7s forwards;
    animation-timing-function: ease-out;
}

@keyframes clipAni {
    0% {
        clip: rect(auto,0,auto,auto);
    }

    100% {
        clip: rect(auto,300px,auto,auto);
    }
}

.txtModel i {
    animation: clipAni ease-out infinite 2s alternate;
}

.swingAni {
    transform-origin: top center;
    animation: swing 3s infinite ease-in-out;
}

@keyframes swing {
    0% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(-6deg);
    }
}

.swingAni2 {
    -webkit-animation-name: routate;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: routate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes routate {
    0% {
        -webkit-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
        transform: rotate(7deg);
    }

    50% {
        -webkit-transform: rotate(-7deg);
        -ms-transform: rotate(-7deg);
        transform: rotate(-7deg);
    }

    100% {
        -webkit-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
        transform: rotate(7deg);
    }
}

.bouncing-ball {
    -webkit-mask: radial-gradient(ellipse at center,rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,black 20.1%,black 75%,black 100%);
    mask: radial-gradient(ellipse at center,rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,black 20.1%,black 75%,black 100%);
    -webkit-animation: bouncing-ball 1.5s linear infinite;
    animation: bouncing-ball 1.5s linear infinite;
}

@keyframes bouncing-ball {
    0% {
        transform: scale(1,1) translateY(-80%);
    }

    25% {
        transform: scale(1,1.1) translateY(-45%);
    }

    50% {
        transform: scale(1,1.5) translateY(10%);
    }

    66% {
        transform: scale(2,0.75) translateY(25%);
    }

    75% {
        transform: scale(1,1.25) translateY(10%);
    }

    100% {
        transform: scale(1,1) translateY(-80%);
    }
}

.small_Big {
    -webkit-animation: scaleCircles 2s infinite cubic-bezier(0.55,0.15,0.45,0.85) alternate;
    animation: scaleCircles 2s infinite cubic-bezier(0.55,0.15,0.45,0.85) alternate;
}

@keyframes scaleCircles {
    0% {
        z-index: 1;
        transform: scale3d(0,0,0);
    }

    100% {
        z-index: 2;
        transform: scale3d(1,1,1);
    }
}

.index * {
    opacity: 1;
}

.index {
    overflow: hidden;
}

.wrap:after {
    content: "";
    display: table;
    clear: both;
}

.fadeInUpGroup.animated {
    animation-fill-mode: both;
    animation-name: fadeInLeft3;
    opacity: 0;
}

.fadeInUpGroup.animated:nth-child(1) {
    animation-duration: .5s !important;
    animation-delay: .1s !important;
}

.fadeInUpGroup.animated:nth-child(2) {
    animation-duration: 1s !important;
    animation-delay: .6s !important;
}

.fadeInUpGroup.animated:nth-child(3) {
    animation-duration: 1.5s !important;
    animation-delay: .9s !important;
}

.fadeInUpGroup.animated:nth-child(4) {
    animation-duration: 2s !important;
    animation-delay: 1.1s !important
}

.fadeInUpGroup.animated:nth-child(5) {
    animation-duration: 1.5s !important;
    animation-delay: 1.6s !important;
}

.logo {
    float: left;
    padding-top: calc(20/1920*100vw);
}

.logo a {
}

.logo img {
    width: calc(103/1920*100vw);
}

.rightTxtLink {
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
}

.rightTxtLink .words {
    width: calc(324/1920*100vw);
    height: calc(42/1920*100vw);
    border-radius: calc(20/1920*100vw);
    border: 1px solid #00D902;
    font-family: Consolas;
    font-weight: 400;
    font-size: calc(18/1920*100vw);
    color: #00D902;
    padding: 0px calc(24/1920*100vw);
    background: none;
    margin-right: 20px;
}

.rightTxtLink .words::-webkit-input-placeholder {
    color: #00D902;
}

.rightTxtLink .words::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #00D902;
}

.rightTxtLink .words:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #00D902;
}

.rightTxtLink .words:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #00D902;
}

.rightTxtLink .lan {
    width: calc(126/1920*100vw);
    height: calc(42/1920*100vw);
    /* background:#000000;*/
    /* border-radius:calc(20/1920*100vw);*/
    /* border:1px solid #81FA27;*/
    margin-left: calc(10/1920*100vw);
    margin-right: calc(9/1920*100vw);
    position: relative;
    text-align: center;
    font-family: Consolas;
    font-weight: 400;
    font-size: calc(18/1920*100vw);
    color: #FFFFFF;
    line-height: calc(40/1920*100vw);
    text-align: left;
}

.rightTxtLink .lan .h2tit {
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 44;
    background: #000000;
    border-radius: calc(20/1920*100vw);
    border: 1px solid #81FA27;
}

.rightTxtLink .lan a img {
    margin-left: calc(8/1920*100vw);
    margin-right: calc(29/1920*100vw);
    width: calc(31/1920*100vw);
    height: calc(31/1920*100vw);
    object-fit: contain;
}

.rightTxtLink .lan a {
    display: block;
    color: #fff;
    font-weight: normal;
    font-size: calc(18/1920*100vw);
    height: 100%;
    display: flex;
    align-items: center;
}

.rightTxtLink .lan .slide {
    background: #000000;
    border-radius: calc(20/1920*100vw);
    border: 1px solid #81FA27;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0px;
    padding-top: calc(42/1920*100vw);
}

.rightTxtLink .slide a {
    padding-top: calc(9/1920*100vw);
    padding-bottom: calc(9/1920*100vw);
}

.rightTxtLink .connect {
    width: calc(197/1920*100vw);
    line-height: calc(41/1920*100vw);
    background: #00D902;
    border-radius: calc(20/1920*100vw);
    font-family: Consolas;
    font-weight: 400;
    font-size: calc(18/1920*100vw);
    color: #000000;
    text-align: center;
}

.rightTxtLink .wallet-address {
    color: #00D902;
    font-size: 14px;
}

.leftChoose {
    float: left;
    width: calc(108/1920*100vw);
    text-align: center;
}


.leftChoose a:last-child {
    margin: 0px;
}

.leftChoose a {
    display: block;
    height: calc(122/1920*100vw);
    background: #1C1C1C;
    border-radius: calc(15/1920*100vw);
    border: calc(2/1920*100vw) solid #81FA27;
    margin-bottom: calc(12/1920*100vw);
    opacity: 0.7;
}

.leftChoose .leftChooseYes{
    border-width: 4px!important;
    opacity: 1;
}

.leftChoose a .icon {
    display: block;
    height: calc(73/1920*100vw);
    position: relative;
}

.leftChoose a .icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: calc(67%);
}

.leftChoose a .title {
    display: block;
    font-family: Consolas;
    font-weight: 400;
    font-size: calc(10/1920*100vw);
    color: #81FA27;
    padding: 0px calc(5/1920*100vw);
}

.centerList {
    background: #272727;
    border: calc(2/1920*100vw) solid #81FA27;
    float: left;
    width: calc(551/1920*100vw);
    border-radius: calc(20/1920*100vw) calc(20/1920*100vw) 0px 0px;
    overflow: hidden;
    /* height:calc(763/1920*100vw);*/
    margin-left: calc(14/1920*100vw);
}

.centerList .title {
    line-height: calc(82/1920*100vw);
    background: url(../images/logo2.png) no-repeat 96% center #81FA27;
    background-size: calc(57/1920*100vw);
    position: relative;
    display: flex;
    align-items: anchor-center;
    justify-content: space-between;
    padding-right: 5vw;
}
.centerList .tit {
    font-family: Consolas;
    font-weight: 400;
    font-size: calc(24/1920*100vw);
    color: #000000;
    padding-left: calc(76/1920*100vw);
    background: url(../images/add.png) no-repeat calc(33/1920*100vw) center;
    background-size: calc(27/1920*100vw);
}

.centerList .list {
    padding: calc(22/1920*100vw) calc(26/1920*100vw);
    height: calc(763/1920*100vw);
    overflow: auto;
}

.centerList .list a:last-child {
    margin: 0px;
}

.centerList .list a {
    display: block;
    position: relative;
    /* overflow:hidden;*/
    line-height: calc(49/1920*100vw);
    background: #424242;
    margin-bottom: calc(9/1920*100vw);
    font-family: Consolas;
    font-weight: 400;
    font-size: calc(24/1920*100vw);
    color: #81FA27;
    text-align: center;
}

.centerList .list a:before,.centerList .list a:after {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(14/1920*100vw);
    height: 100%;
    background: url(../images/left.png) no-repeat center center;
    background-size: 100%;
    top: 0px;
    left: calc(-19/1920*100vw);
    opacity: 0;
}

.centerList .list a:after {
    left: auto;
    background: url(../images/right.png) no-repeat center center;
    background-size: 100%;
    right: calc(-20/1920*100vw);
}

.centerList .list a.current:after,.centerList .list a.current:before,.centerList .list a:hover:after,.centerList .list a:hover:before {
    opacity: 1;
}

.rightContent {
    float: right;
    width: calc(994/1920*100vw);
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    height: calc(770/1920*100vw);
}

.rightContent .link {
    margin-bottom: calc(13/1920*100vw);
    text-align: right;
    font-size: 0;
}

.rightContent .link1 {
    display: inline-block;
    vertical-align: middle;
}

.rightContent .link1 a {
    margin-left: calc(26/1920*100vw);
}

.rightContent .link1 a img {
    height: calc(35/1920*100vw);
}

.rightContent .link2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: calc(21/1920*100vw);
}

.rightContent .link2 a {
    display: inline-block;
    width: calc(113/1920*100vw);
    height: calc(66/1920*100vw);
    background: #1C1C1C;
    border-radius: calc(15/1920*100vw);
    border: calc(2/1920*100vw) solid #81FA27;
    margin-left: calc(15/1920*100vw);
    text-align: center;
    line-height: calc(65/1920*100vw);
}

.rightContent .link2 a img {
    height: calc(26/1920*100vw);
}

.rightContent .textContent {
    height: calc(600/1920*100vw);
    background: #FFFFFF;
    border-radius: calc(25/1920*100vw);
    border: calc(2/1920*100vw) solid #81FA27;
    margin-bottom: calc(15/1920*100vw);
    position: relative;
    overflow: hidden;
    padding-bottom: calc(70/1920*100vw);
}
.rightContent .msg_hash_item{
    padding: 6px 0px;
}
.rightContent .msg_send_name{
    color: #81FA27;
}

.rightContent .textContent textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    background: none;
    font-family: Consolas;
    font-weight: 400;
    font-size: calc(24/1920*100vw);
    color: #000000;
    padding: calc(48/1920*100vw) calc(50/1920*100vw);
    /* padding-bottom:calc(70/1920*100vw);*/
}

.rightContent .total {
    font-family: Consolas;
    font-weight: 400;
    font-size: calc(20/1920*100vw);
    color: #000000;
    right: calc(32/1920*100vw);
    bottom: calc(29/1920*100vw);
    position: absolute;
}

.rightContent .send {
    height: calc(139/1920*100vw);
    background: #0E1E03;
    border-radius: calc(25/1920*100vw);
    border: calc(2/1920*100vw) solid #81FA27;
    margin-top: calc(15/1920*100vw);
    width: 100%;
    font-family: Consolas;
    font-weight: 400;
    font-size: calc(36/1920*100vw);
    color: #81FA27;
}

.rightContent .send:disabled {
    opacity: 0.5;
    color: #70736e;
}

.footer {
    height: calc(137/1920*100vw);
    background: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: calc(119/1920*100vw);
    padding-right: calc(100/1920*100vw);
}

.footer .logo2 {
}

.footer .logo2 img {
    width: calc(90/1920*100vw);
}

.footer .link {
}

.footer .link a {
    margin-left: calc(31/1920*100vw);
}

.footer .link a img {
    height: calc(38/1920*100vw);
}

.head {
    padding-left: calc(112/1920*100vw);
    padding-right: calc(88/1920*100vw);
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 6666;
    height: calc(96/1920*100vw);
    background: #000000;
    border-bottom: calc(1/1920*100vw) solid #00D902;
}

.section1 {
    margin-top: calc(169/1920*100vw);
    margin-left: calc(98/1920*100vw);
    margin-right: calc(87/1920*100vw);
    background: #000000;
    border-radius: calc(25/1920*100vw);
    border: calc(2/1920*100vw) solid #81FA27;
    box-shadow: 0px 0px calc(30/1920*100vw) #81FA27;
    zoom:1;margin-bottom: calc(117/1920*100vw);
    overflow: hidden;
    padding: calc(16/1920*100vw);
    padding-bottom: calc(37/1920*100vw);
}

.head *,.head,.section1,.section1 *,.centerList .list a:before,.centerList .list a:after,.footer,.footer * {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.rightTxtLink .lan:hover .slide {
    visibility: visible;
    opacity: 1;
    z-index: 5;
    top: 0;
}

.rightTxtLink .lan .slide {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: calc(20/1920*100vw);
}

.section2 {
    margin-top: calc(169/1920*100vw);
    margin-left: calc(98/1920*100vw);
    margin-right: calc(87/1920*100vw);
    height: calc(899/1920*100vw);
    background: #000000;
    border: 2px solid #81FA27;
    box-shadow: 0px 0px calc(30/1920*100vw) #81FA27;
    margin-bottom: calc(117/1920*100vw);
}

.section2 .list {
    margin-top: calc(48/1920*100vw);
    overflow: auto;
    margin-left: calc(57/1920*100vw);
    margin-right: calc(57/1920*100vw);
    height: calc(650/1920*100vw);
    margin-bottom: calc(50/1920*100vw);
}

.section2 .qu {
    display: flex;
    margin-bottom: calc(36/1920*100vw);
}

.section2 .qu .name {
    font-family: Consolas;
    font-weight: bold;
    font-size: calc(24/1920*100vw);
    color: #81FA27;
}

.section2 .qu .txt {
    font-family: Consolas;
    font-weight: bold;
    font-size: calc(24/1920*100vw);
    color: #fff;
}

.section2 .res {
    display: flex;
    margin-bottom: calc(36/1920*100vw);
}

.section2 .res .icon {
}

.section2 .res .icon img {
    width: calc(53/1920*100vw);
    height: calc(30/1920*100vw);
    object-fit: contain;
}

.section2 .res .txt {
    font-family: Consolas;
    font-weight: bold;
    font-size: calc(24/1920*100vw);
    color: #81FA27;
    margin-left: calc(21/1920*100vw);
}

.section2 .sendTxt {
    margin-left: calc(21/1920*100vw);
    height: calc(116/1920*100vw);
    background: #F0F0F0;
    border: 2px solid #81FA27;
    margin-right: calc(29/1920*100vw);
    position: relative;
    overflow: hidden;
    padding-right: calc(156/1920*100vw);
}

.section2 .sendTxt .words {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-family: Consolas;
    font-weight: bold;
    font-size: calc(24/1920*100vw);
    color: #000;
    padding-left: calc(51/1920*100vw);
}

.section2 .sendTxt .send {
    top: calc(5/1920*100vw);
    right: calc(12/1920*100vw);
    width: calc(115/1920*100vw);
    height: calc(103/1920*100vw);
    position: absolute;
    border: none;
    background: url(../images/send.png) no-repeat center center;
    background-size: 100%;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #81FA27
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.alertModel {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 666666;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(0,0,0,0.35);
}

.alertModel .center {
    box-shadow: 0px 0px calc(30/1920*100vw) #81FA27;
    width: calc(625/1920*100vw);
    background: #000000;
    border: 2px solid #81FA27;
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    max-width: 90%;
    padding: 0px calc(30/1920*100vw);
    padding-bottom: calc(11/1920*100vw);
    z-index: 2;
}

.alertModel .title {
    font-family: Consolas;
    font-weight: bold;
    font-size: calc(32/1920*100vw);
    color: #FFFFFF;
    padding-top: calc(86/1920*100vw);
    padding-bottom: calc(76/1920*100vw);
}

.alertModel .list {
}

.alertModel .list a {
    display: block;
    height: calc(93/1920*100vw);
    background: #000000;
    border: 2px solid #81FA27;
    margin-bottom: calc(32/1920*100vw);
    line-height: calc(89/1920*100vw);
    font-family: Consolas;
    font-weight: bold;
    font-size: calc(26/1920*100vw);
    color: #FFFFFF;
    position: relative;
    cursor: pointer;
}

.alertModel .list a img {
    width: calc(43/1920*100vw);
    height: calc(43/1920*100vw);
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(0%,-50%);
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    left: calc(26/1920*100vw);
}

.alertModel .list a span {
}

.alertModel .shadow{
    height: 100%;
    cursor: pointer;
}


@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consola.ttf') 
}

@font-face {
    font-family: 'consolab';
    src: url('../fonts/consolab.ttf') 
}

.changebtn{
    
border: none;
    
background: none;
    
color: #000;
    
font-size: calc(20/1920*100vw);
    
border: 1px solid #12d500;
    
border-radius: .3vw;
    
padding: 0px calc(20/1920*100vw);
    
line-height: 2;
    
background: #27ff00;
}